<div>
<px-card header-text class="u-pb0 u-pr--">
	<div class="layout full-height">
		<div class="layout__item u-p u-pt- u-pb0 bgw" id="">
			<div class="bgw">
				<h5 class="epsilon u-ml u-mt0 u-mb--">PGS</h5><span class="u-ml+">
				<div>
					<form class="">
					  <fieldset class="form-field u-pt-">
						<div class="float--left"style="width:50%">
						  <div class="form-field">
							<label for=…>Technical Direction of Installation</label>
							<select>
									  <option>Select an Option</option>
								</select>
						  </div>
						  <div class="form-field u-mt-">
							<label for=…>Training</label>
							<select>
									  <option>Select an Option</option>
								</select>
						  </div>						  
						</div>
						<div class="float--right"style="width:50%">
						  <div class="form-field">
							<label for=…>High Level Scope</label>
							<select>
									  <option>Select an Option</option>
								</select>
						  </div>
						</div>
					  </fieldset>
					</form>
				</div>
												</div>
											</div> 
										</div>
</px-card>	



	