<px-card header-text="GAS POWER SYSTEMS">
<div class="layout">
	<div class="layout__item u-1/3 ">
		<div class='card'>
			<div class='title'> <span>COUNTRY</span> </div>
			<div class='info'> <span>NAME , CUSTOMER</span> </div>
			<div class='content'>
				<div><span class='textspan'>No.of Units Tech</span><span >(20 X TM 2500)</span></div>
				<div><span class='textspan'>Scope</span><span>250</span></div>
				<div><span class='textspan'># of Sites</span><span>250</span></div>
				<div><span class='textspan'>TEM</span><span>250</span></div>
			</div>
			<div class='footer'><span>Proposal Submitted</span></div>
		</div>
	</div>
	<div class="layout__item u-1/3 ">
		<div class='card'>
			<div class='title'> <span>COUNTRY</span> </div>
			<div class='info'> <span>NAME , CUSTOMER</span> </div>
			<div class='content'>
				<div><span class='textspan'>No.of Units Tech</span><span >(20 X TM 2500)</span></div>
				<div><span class='textspan'>Scope</span><span>250</span></div>
				<div><span class='textspan'># of Sites</span><span>250</span></div>
				<div><span class='textspan'>TEM</span><span>250</span></div>
			</div>
			<div class='footer'><span>Proposal Submitted</span></div>
		</div>
	</div>
	<div class="layout__item u-1/3 ">
		<div class='card'>
			<div class='title'> <span>COUNTRY</span> </div>
			<div class='info'> <span>NAME , CUSTOMER</span> </div>
			<div class='content'>
				<div><span class='textspan'>No.of Units Tech</span><span >(20 X TM 2500)</span></div>
				<div><span class='textspan'>Scope</span><span>250</span></div>
				<div><span class='textspan'># of Sites</span><span>250</span></div>
				<div><span class='textspan'>TEM</span><span>250</span></div>
			</div>
			<div class='footer'><span>Proposal Submitted</span></div>
		</div>
	</div>
	
</div>
</px-card>