<px-card header-text="">

<div class="layout layout--middle u-pt++">
		<div class="layout__item" style="height:500px !important;">
			<form style="margin-left:25%;">
				<h1 class="caps u-mt0 style-scope" style="font-size:50px;margin-top:10px;margin-bottom:10px;">Collaborative Workspace</h1>
				<img ng-src="images\gelogo.png" style="width: 30%;margin-left: 21%;" alt="Description" />
				<ol class="list-bare" style="margin-left: 26%;">
				  <li class="form-field">
					<input id="userName" class="" type="text" placeholder="Username">
				  </li>
				  <li class="form-field" style="margin-top:10px;">
					<input id="userName" class="" type="text" placeholder="Password"> 
				  </li><i class$="fa-tachometer"></i>
				  <li class="form-field">
					<input class="btn btn--primary" style="margin-top:20px;font-size:20px;color:#3693f8;font-weight:800;margin-left:8%;" type="submit" value="Login">
				  </li>
				</ol>
			</form>
		
		</div>
	</div>

</px-card>

