<div>
<px-card header-text class="u-pb0 u-pr--">
			<div class="layout full-height">
				<div class="layout__item u-p u-pt- u-pb0 bgw" id="">
					<div class="bgw">
						<h5 class="epsilon u-mt0 u-mb--">Outputs</h5>
						<div class="u-mt1 finalistview">
							<form class="u-mt- txtcnt">
							  <fieldset class="form-field u-pt- u-mb0">
								<div class="float--left"style="width:50%">
								  <div class="form-field u-mb--">
									<label for=…>ST Catalog Code:</label>
									<span class="txtver u-ml-"><b>A201-50-1800-NRH-1000-4200-A-MS-VK10</b></span>
								  </div>						  
								</div>
								<div class="float--right"style="width:50%">
								  <div class="form-field u-mb--">
									<label for=…>Ship Date:</label>
									<span class="txtver u-ml-"><b>2016_Q4</b></span>
								  </div>
								</div>
							  </fieldset>
							</form>
							<table class="table finaview table-striped">
									<thead>
										<tr>
										<th width="" style="" colspan=""></th>
										<th width="" style="" colspan=""><b>Material</b></th>
										<th width="" style=""><b>Labor</b></th>
										<th width="" style=""><b>Overhead</b></th>
										<th width="" style=""><b>Total</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Base Unit</td>
											<td class="txtrgt">$ 7,300,000</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Standard F&A's</td>
											<td class="txtrgt">$ 375,000</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 375,000</td>
										</tr>
										<tr>
											<td>Unit F&A's</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Site F&A's</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Base Adjustment</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Subtotal</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Escalation 0%</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Total Turbine</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
									</tbody>
							</table>
							<table class="table finaview table-striped u-pt+">
									<thead>
										<tr>
										<th width="" style="" colspan="" class="txtleft"><b>Other Variable Costs</b></th>
										<th width="" style=""><b>ST OVC</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Warranty - Standard</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Warranty - Extended</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Req Engineering</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Req Engn Discount</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Export/Storage Box</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Freight To POE</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Adjustment</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Subtotal OVC</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Escalation 0%</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Total OVC</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Total Unit Cost</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Number of Units</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
										<tr>
											<td>Extended Cost</td>
											<td class="txtrgt">$ 7,300,000</td>
										</tr>
									</tbody>
							</table>
							<table class="table finaview table-striped u-pt+">
									<thead>
										<tr>
										<th width="" style="" colspan="" class="txtleft"><b>Commercial Adders</b></th>
										<th width="" style=""><b>Percentage</b></th>
										<th width="" style=""><b>Amount</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Ocean Freight</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>M&WRI</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Customs Fees & Duties</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Inland Logistics</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Sales Commission</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Bonds, Guarantees, LOC</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Translations</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Cost Of Money</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>All Other</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Adjustment</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td><b>Total Commercial Adders</b></td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
										<tr>
											<td>Total Equipment Cost</td>
											<td class="txtrgt">$ 0</td>
											<td class="txtrgt">$ 0</td>
										</tr>
									</tbody>
							</table>
							<table class="table finaview table-striped u-pt+ u-mr0 float--right" style="width:50%">
									<thead>
										<th width="" style="" colspan="5" class="txtcnt"><b>Overall Summary</b></th>
										</tr>
									</thead>
									<thead>
										<th width="" style="" colspan="" class="txtleft"><b>Steam Turbine</b></th>
										<th width="" style=""><b>Price ($)</b></th>
										<th width="" style=""><b>Cost ($)</b></th>
										<th width="" style=""><b>CM ($)</b></th>
										<th width="" style=""><b>CM%</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Equipment</td>
											<td class="txtrgt">11,823,438</td>
											<td class="txtrgt">9,458,750</td>
											<td class="txtrgt">2,364,688</td>
											<td class="txtrgt">20</td>
										</tr>
										<tr>
											<td>Comm Adds</td>
											<td class="txtrgt">11,823,438</td>
											<td class="txtrgt">9,458,750</td>
											<td class="txtrgt">2,364,688</td>
											<td class="txtrgt">20</td>
										</tr>
										<tr>
											<td>Cost of Money</td>
											<td class="txtrgt">11,823,438</td>
											<td class="txtrgt">9,458,750</td>
											<td class="txtrgt">2,364,688</td>
											<td class="txtrgt">20</td>
										</tr>
										<tr>
											<td>Total</td>
											<td class="txtrgt">11,823,438</td>
											<td class="txtrgt">9,458,750</td>
											<td class="txtrgt">2,364,688</td>
											<td class="txtrgt">20</td>
										</tr>
									</tbody>
							</table>
							<form class="float--left txtcnt brd" style="width:100%;">
							  <fieldset class="form-field u-pt- u-mb0">
								<div class="float--left"style="width:50%">
								  <div class="form-field">
									<label for=…>Catalog Tech Check</label>
									<input id="" class="text-input" type="text" placeholder="TRUE" disabled>
								  </div>
								  <div class="form-field u-mt- u-mb-">
									<label for=…>Catalog Cost Check</label>
									<input id="" class="text-input" type="text" placeholder="TRUE" disabled>
								  </div>						  
								</div>
								<div class="float--right"style="width:50%">
								  <div class="form-field">
									<label for=…>Cost Source</label>
									<input id="" class="text-input" type="text" placeholder="R. Swintek ST_Budgetary_Cost_November-2015" disabled>
								  </div>
								  <div class="form-field u-mt- u-mb-">
									<label for=…>Cost Source Detail</label>
									<input id="" class="text-input" type="text" placeholder="Schenectady Basic Unit Cost (VMC) on Finsum" disabled>
								  </div>
								</div>
							  </fieldset>
							</form>
						</div>
					</div>
				</div> 
			</div>
</px-card>	



	